@model IEnumerable<GibiSu.Models.Menu>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid" style="background-color: white; height:100vh;">
<h1>Menüler</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Menü Oluştur</a>
</p>
<table class="table">
    <thead class="table-light">
        <tr>
            <th>
                
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 25%;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                @if(item.Name.Trim() != "footer"){
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm" style="width: 70px;">Güncelle</a> 
                <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="width: 70px;">Detaylar</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" style="width: 70px;">Sil</a>
            </td>
                        }
        </tr>
}
    </tbody>
</table>
</div>