@model IEnumerable<GibiSu.Models.OrderProduct>
@using Microsoft.EntityFrameworkCore;
@{
    ViewData["Title"] = "Index";
    
    long orderId = Model.Select(o => o.OrderId).FirstOrDefault();
}
<script>
    function DeleteProduct(pid, oid) {
        $.get("@Url.Action("DeleteProduct","OrderProducts")?productid=" + pid + "&orderid=" + oid);
        setTimeout(
                  function() 
                  {
                document.location.reload();
                  }, 0151);
    }
    function CountUp(pid) {
        $.get("@Url.Action("CountPlus","OrderProducts")?productid=" + pid, function (pcount) {
            $("#PCount-" + pid).val(pcount);
            setTimeout(
                  function() 
                  {
                document.location.reload();
                }, 0151);
        });
    }
    function CountDown(pid) {
        $.get("@Url.Action("CountMinus","OrderProducts")?productid=" + pid, function (pcount) {
            $("#PCount-" + pid).val(pcount);
            setTimeout(
                function () {
                    document.location.reload();
                }, 0151);
        });
    }
</script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h2 style="text-align:center;color:white;">Sepetim</h2>

<div class="container my-4">
    <div class="table">
        @foreach (var item in Model)
        {
            <div id="PCard-@item.ProductId.ToString()" class="order">
                <div class="order-header" style="justify-content: space-between;align-items: center;">
                    <div style="display:flex; align-items: center;">
                        <img src='data:image/jpeg;base64,@Convert.ToBase64String(item.Product.SmallImage)' class="card-img-top" style="width: 80px; height: 80px;margin-right: 20px;" />
                        <div style="font-size:17px;margin-right: 10px;" class="product-card-title">
                            @item.Product.Name
                        </div>
                    </div>
                    <div class="order-header-info" style="flex-direction:row;align-items:center;">
                        <div style= "margin-right: 10em;">
                            <button class="cart-count-btn btn btn-primary" onclick="CountDown(@item.ProductId)">
                                <i class="fa-solid fa-minus"></i>
                            </button>
                            <span>
                                <input disabled id="PCount-@item.ProductId.ToString()"
                                   type="number"
                                   style="width: 50px; border-radius: 10px" value="@item.Amount" />
                            </span>
                            <button class="cart-count-btn btn btn-primary" onclick="CountUp(@item.ProductId)">
                                <i class="fa-solid fa-plus"></i>
                            </button>
                        </div>
                        <div style="color:#0d6efd;margin-right: 10em;">
                       @item.TotalPrice TL
                    </div>
                        <div style="">
                            <span>
                                <button onclick="DeleteProduct(@item.ProductId,@item.OrderId)" class="cart-count-btn btn btn-primary">
                                    <i class="fa fa-trash-o"  style="font-size: 13px;"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div style="text-align: center">
    @if (orderId != 0)
    {
        <span>
            <button onclick="location.href='/orders/edit/@orderId'" class="button-card-cart btn btn-primary">
            <i class="fa-solid fa-cart-shopping"></i> Sepeti Onayla
        </button>
    </span>}
</div>