@model GibiSu.Models.Page
@using Microsoft.EntityFrameworkCore
@{
    ViewData["Title"] = "Gibi Doğal Kaynak Suyu | Doğanın İyiliği ve Canlılığı";
    List<Content> contents = Model.Contents.OrderBy(c => c.Order).ToList();
}
<div>
     @if (Model.Banner != null){
    <img class="responsive" loading="lazy" src="data:image/jpeg;base64, @Convert.ToBase64String(Model.Banner)">
     }
</div>

@foreach (var item in contents)
{
    @if(item.Type == 1)
    {
<div class="row mid-content" style="--bs-gutter-x: 0rem;">
        @if(item.Order %2== 1)
        {
            
       
        <div class="col-6 text-center content-container">
            @if (item.Title != null){
                <div>
                    <h1>
                        @item.Title
                    </h1>
                </div>
            }


            @if (item.Text != null){
        <div class="description">
            <p>
                @item.Text
            </p>
        </div>
            }
        <div><a href="/@item.Title" class="btn btn-light --bs-light --bs-light-rgb">Devam</a></div>
        </div>
            @if (item.Image != null){
            <div class="col-6">
                    <img src="data:image/jpeg;base64, @Convert.ToBase64String(item.Image)" width="570" height="570" alt="forest" loading="lazy" class="col6Img" typeof="foaf:Image">
            </div>
            }
        }
        else
        {
            @if (item.Image != null){
            <div class="col-6">
                    <img src="data:image/jpeg;base64, @Convert.ToBase64String(item.Image)" width="570" height="570" alt="forest" loading="lazy" class="col6Img" typeof="foaf:Image">
            </div>
            }
            <div class="col-6 text-center content-container">
                @if (item.Title != null)
                {
                    <div>
                        <h1>
                            @item.Title
                        </h1>
                    </div>
                }
                @if (item.Text != null)
                {
                    <div class="description">
                        <p>
                            @item.Text
                        </p>
                    </div>
                }
                <div><a href="/#" class="btn btn-light --bs-light --bs-light-rgb">Devam</a></div>
            </div>
        }
    
    </div>
}
}

@foreach (var item3 in contents)
{
if(item3.Type == 2){
<div class="container-fluid" style="background-color:white">
    <div class="row justify-content-center">
        @if (item3.Text != null){
        <div class="col-10">
            <p class="text-align-center textMid text-muted"><strong>@item3.Text</strong></p>
        </div>
        }
    </div>
</div>
    }
}
}

<div class="container">
    <div class="row" style="--bs-gutter-x:0rem; margin-top:8px;">
        @foreach (var item1 in contents)
        {
            if (item1.Type == 3)
            {
        <div class="col-4">
            <div class="card mt-3 mb-3">
                @if(item1.Image != null)
                {
                  <img src="data:image/jpeg;base64, @Convert.ToBase64String(item1.Image)" width="372" height="440" alt="forest" loading="lazy" class="col6Img2" typeof="foaf:Image">
                }
                else
                {
                  <img src="https://www.erikli.com.tr/sites/g/files/xknfdk2096/files/styles/grid_system/public/2021-10/1_0.jpg?itok=a_xSeR_R"  width="372" height="440" alt="forest" loading="lazy" class="col6Img2"/>
                            
                }
                <div class="card-body layout-card-body">
                    <h5 class="card-title"><a href="/">@item1.Title</a></h5>
                    <p class="card-text">@item1.Text</p>
                    <a href="/#" class="btn btn-primary ">Devam</a>
                </div>
            </div>
        </div>
            }
        }
    </div>
</div>

<div class="container-fluid" style="background-color:white; height:1px;">
    <br />
</div>

