@model IEnumerable<GibiSu.Models.Page>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid" style="background-color: white;">
<h1>Sayfalar</h1>

<p>
    <a asp-action="Create" class="btn btn-primary btn-sm">Sayfa Oluştur</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Menu)
            </th>
            <th style="width: 25%;"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                <a asp-action="Edit" asp-route-id="@item.Url" class="btn btn-warning btn-sm" style="width: 70px;">Güncelle</a> 
                <a asp-action="Details" asp-route-id="@item.Url" class="btn btn-success btn-sm" style="width: 70px;">Detaylar</a> 
                <a asp-action="Delete" asp-route-id="@item.Url" class="btn btn-danger btn-sm" style="width: 70px;">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>
</div>