@using Microsoft.EntityFrameworkCore
@using GibiSu.Data;
@model IEnumerable<GibiSu.Models.ApplicationUser>
@{
    ViewData["Title"] = "UserCases";
    
}

@foreach (var item in Model)
        {

            <tr>
                @if(item.Deleted != true){
                    
                <td>
                    @Html.DisplayFor(modelItem => item.NormalizedUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                <a asp-controller="Users" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" style="width: 70px;">Sil</a>
                <a asp-controller="Users" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm" style="width: 70px;">Düzenle</a>
                <a asp-controller="Users" asp-action="IsAdmin" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="width: 70px;">Rol Ver</a>
                </td>
                }
            
            
                @if(item.Deleted == true){
                    
                <td>
                    @Html.DisplayFor(modelItem => item.NormalizedUserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                <a class="btn btn-danger btn-sm" style="width: 70px;">Silindi.</a>
                </td>
                
                }
        
            </tr>
            }

