@model IEnumerable<GibiSu.Models.Product>

@{
    ViewData["Title"] = "Ürünler";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container-fluid" style="background-color: white; height:100vh;">
<h1>Ürünler</h1>


<table class="table">
    <thead class="table-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th style="width: 25%;"></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm" style="width: 70px;">Güncelle</a> 
                <a asp-action="DetailsProductAdmin" asp-route-id="@item.Id" class="btn btn-success btn-sm" style="width: 70px;">Detaylar</a> 
                <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm" style="width: 70px;">Sil</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>